# ===== DIPENDENZE E BUILD (Essenziali da ignorare per evitare giga di caricamento) =====
node_modules/
.next/
/out/

# ===== VARIABILI D'AMBIENTE (Configurazione e Segreti) =====
.env
.env.local

# ===== ARTEFATTI GENERATI (Build e Cache) =====
*.tsbuildinfo
.DS_Store
Thumbs.db
.env.*.local
env.local